<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015353975578-aek29cdlnsgp0u8flilec81t5vsuinvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015353975578-aek29cdlnsgp0u8flilec81t5vsuinvq</string>
	<key>API_KEY</key>
	<string>AIzaSyDEHAHxucYIk2Q__EsPg7bXDXcYxDJrHSk</string>
	<key>GCM_SENDER_ID</key>
	<string>1015353975578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vanesaorcik.fitnessapp</string>
	<key>PROJECT_ID</key>
	<string>vanesafitnessapp</string>
	<key>STORAGE_BUCKET</key>
	<string>vanesafitnessapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015353975578:ios:7ba02728c789498f5502a3</string>
</dict>
</plist>